body{
  margin: 0;
  font-family: 'Merriweather', serif;
  text-align: center;
}

.middle-container{
  margin-top: 30px;

}

.bottom-container{
  background-color: #66BFBF;
  height: 230px;
  position: relative;
  margin-top: 90px;
}

.top
{
  background-color: #E3FDFD;
  text-align: center;
  height: 950px;
}

h1{
  margin-top: 155px;
  margin-bottom: 1px;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  line-height: 2;
}
h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  margin-top: 5px;
  font-weight: normal;
}
h3{
  font-family: 'Montserrat', sans-serif;
}

.cloud-out-of-flow{
  position: absolute;
  top: 495px;
  left: 140px;
  width: 12.5em;
}

.cloud{

  position: relative;
  left: 300px;
  top: 50px;
}

.inside{
position: relative;
display: inline-block;
margin-top: 50px;

}

.cooperation{
  width: 25%;
  margin-right: 15px;
  float: left;
}

.teamwork{
  width: 25%;
  margin-right: 15px;
  float: right;
}

.emanuel-photo{
  width: 15%;

}

.munte{
  position: relative;
  top: 68px;
}

.about{
  color: #66BFBF;
}
.name{
  color: #66BFBF;
}

.h3{
  color: #11999E;
}

.footer-link{
  color:#11999E;
  word-spacing: 40px;
  margin-right: 40px;
  margin-left: 40px;
  text-align: center;
}

.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 12;
  -moz-border-radius: 12;
  border-radius: 12px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin-top: 70px;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3cb0fd);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3cb0fd);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3cb0fd);
  background-image: -o-linear-gradient(top, #3cb0fd, #3cb0fd);
  background-image: linear-gradient(to bottom, #3cb0fd, #3cb0fd);
  text-decoration: none;
}

.skill-row{
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}

.float{
  float: left;
}

.float-right{
  float: right;
}

.hello{
  color:#66BFBF;
}

hr{
  border-style: dotted;
  border-width: 8px;
  border-top-style: none;
  width: 5%;
  border-color: grey;
}

.My-Skills{
  color: #66BFBF;
}

.get-in-touch{
  color: #66BFBF;
}

.not-open-for-collabs{
  color: #11999E;
}

.inside-bottom{
  position: absolute;
  margin: 0 auto;
  width: 100%;
  top: 50px;
  line-height: 70px;
}

.Rusu-Emanuel{
  color: #EAF6F6;
}

.not-open-for-collabs{
  margin-bottom: 70px;
}
